/* CSS Document */

#my_titlebar
{
    background-color:#f1f1f1;
    height:60px;
    width:100%;
    min-width:1000px;
}

#my_titlebar_left
{
    float:left;
    height:60px;
    min-width:240px;
}

#my_titlebar_right
{
    float:right;
    height:60px;
    min-width:110px;
}
/*
#my_count_btn
{
	background-image:url(../images/head.jpg);
	width:30px;
	height:30px;
}*/

#headimg
{
    width:30px;
    height:30px;
    margin-right:10px;
    margin-bottom:3px;
}

#my_titlebar_signin
{
    height:30px;
    width:71px;
    margin-right:40px;
    margin-top:15px;
    padding:0;
    border:0;
    background-image:url(../images/sign_in.png);
}

#my_titlebar_loginout
{
    color:#ffffff;
    font-size:14px;
    font-family: "Roboto", Arial, sans-serif;
    height:30px;
    width:71px;
    margin-right:40px;
    margin-top:15px;
    padding:0;
    border:0;
    background-color:#4583ED;
}



#my_titlebar_middle
{
    height:60px;
    width:550px;
    float: left;
}

#my_titlebar_middle_up
{
    height:15px;
    width:550px;
}

#my_titlebar_middle_center
{
    height:30px;
    width:550px;
}

#my_titlebar_searchform
{
    height:30px;
}
#my_titlebar_searchdiv
{
    float: left;
}

#my_titlebar_searchinput
{
    outline: none;
    height:30px;
    width:490px;
    padding:0 8px 0 8px;
    border:1px solid #f1f1f1;
    margin:0;
    color: #222;
    font: 16px arial,sans-serif;
}

#my_titlebar_searchinput:focus
{
    outline: none;
    height:30px;
    width:490px;
    padding:0 8px 0 8px;
    border:1px solid #4585F0;
    margin:0;
    color: #222;
    font: 16px arial,sans-serif;
}

#my_titlebar_searchbutton
{
    height:30px;
    width:59px;
    margin:0;
    padding:0;
    border:0;
    background-image:url(../images/search.png);
}

#my_titlebar_middle_down
{
    height:15px;
    width:550px;
}

#my_title_search
{
    outline:none;
    background: transparent;
    border: none;
    height: 20px;
    margin-top: 4px;
    padding: 0;
    vertical-align: top;
    width: 100%;
    color: #222;
    font: 16px arial,sans-serif;
}